<EditForm Model="Persona" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-group pt-4 pb-4">
        <div>
            <MudTextField Class="form-control" @bind-Value="@Persona.Nombre" Label="Nombre" Variant="Variant.Outlined"></MudTextField>
            <ValidationMessage For="@(() => Persona.Nombre)" />
        </div>
    </div>
    <div class="form-group pb-4">
        <InputImg Label="Foto" ImagenSeleccionada="ImagenSeleccionada" ImagenURL="@imagenURL" />
    </div>
    <MudButton  Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info"  Size="Size.Medium" ButtonType="ButtonType.Submit">Guardar Cambios</MudButton>
    
</EditForm>


@code {
    [Parameter] public Persona Persona { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    private string imagenURL;

    protected override void OnInitialized()
    {
        if (!string.IsNullOrWhiteSpace(Persona.Foto))
        {
            imagenURL = Persona.Foto;
            Console.WriteLine(imagenURL);
            Persona.Foto = null;
        }
    }

    private void ImagenSeleccionada(string imagenBase64)
    {
        Persona.Foto = imagenBase64;
        imagenURL = null;
    }
}
