@page "/peliculas"
@inject IRepositorio repositorio

<h3>IPeliculas</h3>

<MudButton Variant="Variant.Filled" Color="Color.Info" StartIcon="@Icons.Filled.Add" Link="peliculas/crear" Size="Size.Medium">Agregar Peliculas</MudButton>
@code {

}
