@page "/peliculas"
@inject IRepositorio  repositorio
@attribute [Authorize(Roles = "admin")]

<MudAppBar Color="Color.Primary" Fixed="false">
    <MudText Align="Align.Center" Typo="Typo.h4">Películas</MudText>
</MudAppBar>
<div class="pt-4">
    <MudButton Link="peliculas/crear" Variant="Variant.Filled" StartIcon="@Icons.Filled.Add" Color="Color.Info"  Size="Size.Medium">Crear Película</MudButton>
</div>
<div class="pt-4">
    <ListadoPeliculas Peliculas="Peliculas" />
</div>


@code {
    private List<Pelicula> Peliculas;

    protected async override Task OnInitializedAsync()
    {
        var httpResponse = await repositorio.Get<PeliculasDTO>("api/peliculas");
        Peliculas = httpResponse.Response.Peliculas;        
    }
}
