
<EditForm Model="Genero" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <div>
            @*<InputText class="form-control" @bind-Value="@Genero.Nombre" />*@
            <MudTextField Class="form-control" @bind-Value="@Genero.Nombre" Label="Nombre" Variant="Variant.Outlined"></MudTextField>
            <ValidationMessage For="@(() => Genero.Nombre)" />
        </div>
    </div>
    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info"  Size="Size.Medium" ButtonType="ButtonType.Submit">Guardar Cambios</MudButton>
    @*<button class="btn btn-success" type="submit">Guardar Cambios</button>*@
</EditForm>

@code {
    [Parameter] public Genero Genero { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}