@page "/"
@inject IRepositorio repositorio

<MudTextField Variant="Variant.Outlined" T="string"></MudTextField>
<MudButton Color="Color.Error"  >eliminar</MudButton>
<div>
    @foreach (var item in repositorio.ObtenerPeliculas())
    {
        <div>
            @item.Titulo
        </div>
    }
</div>



@code{
    
}